.App {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.todolist {
  border: 1px solid #161515;
  border-radius: 5px;
  background-color: #adcaf7;
  padding: 15px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  gap: 5px;
}